# Use our custom-configured c++ toolchain.
build:clang_config --crosstool_top=//toolchain:clang_suite

# Use --cpu as a differentiator.
build:clang_config --cpu=linux_x86_64

# Use the default Bazel C++ toolchain to build the tools used during the build.
build:clang_config --host_crosstool_top=@bazel_tools//tools/cpp:toolchain

build --jobs=8
build --incompatible_new_actions_api=false 
build --copt=-fdiagnostics-color=always
build --enable_platform_specific_config

build --cxxopt=-std=c++17
build --host_cxxopt=-std=c++17
build --linkopt -fvisibility=hidden

# Binary safety flags
build --copt=-fPIC
build --host_copt=-fstack-protector-strong
build:linux --host_copt=-Wl,-z,noexecstack 


# static link libstdc++ & libgcc on Linux
build:linux --copt=-fopenmp
build:linux --linkopt=-fopenmp
build:linux --action_env=BAZEL_LINKOPTS=-static-libstdc++:-static-libgcc
build:linux --action_env=BAZEL_LINKLIBS=-l%:libstdc++.a:-l%:libgcc.a
